#title_box {
    height: 40px;
    background-color: #202020;
    display: flex;
    align-items: center;
    width: 100%;
}

.top_title {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.ib {
    display: inline-block;
}

.title_left {
    flex-grow: 1;
}

.title_right {
    display: flex;
    align-items: center;
}

.qrCode {
    position: absolute;
    top: 20px;
    right: -103px;
    z-index: 100;
    padding-top: 20px;
    width: 300px;
    height: 180px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.txt {
    color: #666666;
    text-align: center;
}

.qr_code_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr_code_img {
    width: 120px;
    height: 120px;
}

.normal-text {
    color: #b4b6bf;
    height: 17px;
    font-size: 12px;
    margin-right: 20px;
}

.normal-text:hover {
    color: #337ab7;
}

.qrCode-anchor {
    position: relative;
}

.hide {
    display: none;
}

.service_phone {
    position: relative;
    color: #333333;
    font-size: 18px;
    margin: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.favor {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.favor .lighten {
    /*background: url(../img/Collection.png);*/
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
}

.favor .lighten:hover {
    /*background: url(../img/Collection_hour.png);*/
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
}

.service_phone .phoneimg {
    background: url(../img/phonecall.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-size: 24px 24px;
    display: inline-block;
}


/* 浮动标题 */

#float_title_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#float_title_box2 {
    height: 70px;
}

#float_title {
    width: 1170px;
    display: flex;
    margin: 0px auto;
    height: 70px;
    align-items: center;
    position: relative;
}

.logo {
    width: 58px;
    height: 32px;
}

#select_city {
    width: 68px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.search_box {
    width: 480px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 15px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.search {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    flex-grow: 1;
}

.btn-search {
    background: url(../img/search.png);
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    display: inline-block;
}

.headerPosition {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1170px;
    z-index: 10;
}

#swiper_top {
    width: 100%;
    min-width: 1170px;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
}

.swiper_position {
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
    z-index: 10;
}

.swiper-pagination-bullet {
    margin-right: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    z-index: 10;
}

#swiper_map_box .swiper-pagination-bullet {
    margin: 0px 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    z-index: 10;

}

.top_img_box {
    width: 100%;
    min-width: 1170px;
    overflow: hidden;
    position: relative;
}

.introduce_box {
    margin: 140px auto 0px auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.group_introduce_text {
    text-indent: 28px;
    font-size: 14px;
    line-height: 1.86;
    color: #666;
    margin-top: 20px;
}

#swiper01 {
    width: 900px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-contrast {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.swiper-contrast .fl img {
    width: 148px;
    height: auto;
    flex-shrink: 1;
    opacity: 0.5;
}

.swiper-contrast .current img {
    opacity: 1.0;
}

.project_introduc_box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 22%;
}

.project_introduc_img_box {
    width: 180px;
}

.project_introduc_img {
    width: 180px;
}

.project_introduc_text_box {

}

.project_introduc_title {
    line-height: 28px;
    font-size: 20px;
    font-weight: 300;
    color: #111;
}

.project_introduc_text {
    font-size: 14px;
    line-height: 1.86;
    text-align: left;
    color: #8c8c8c;
    margin-top: 20px;
    text-indent: 28px;
}


/*项目轮播图*/

.project_box {
    width: 100%;
    margin: 140px auto 0 auto;
}


/*项目*/

.move_project_box {
    width: 900px;
    margin: 140px auto 0px auto;
}

.move_project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.example_box {
    display: inline-flex;
    flex-direction: column;
}

.example_box img {
    width: 270px;
    height: 360px;
}

.example_box .example_title {
    line-height: .93;
    font-weight: 500;
    font-size: 24px;
}

.example_box .example_text {
    line-height: .93;
    font-weight: 500;
    font-size: 28px;
}

.example_box .price_end {
    line-height: 20px;
    font-size: 14px;
}


/*地图*/
.map_box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

#swiper_map_box {
    width: 100%;
    overflow: hidden;
    height: 700px;
    position: absolute;
    top: 0;
}

#swiper_map_box #swiper_map .swiper-slide {
    display: block;
    height: 700px;
    width: 100%;
}

.swiper_iamge {
    overflow: hidden;
}


.image_map_swiper {
    display: block;
    height: 700px;
    width: 100%;
}

/*底部*/
.footer_box {
    width: 100%;
    background: #202020;
    padding: 30px 0;
}

.footer {
    color: #696b70;
    display: flex;
    width: 1170px;
    margin: 0px auto;
    font-size: 11px;
    line-height: 24px;
}

.footer .title {
    color: #b4b6bf;
    font-size: 13px;
    line-height: 35px;
    width: auto;
    margin: 0;
}

.footer a:link {
    color: #696b70;
    text-decoration: none;
}

.footer a:visited {
    color: #696b70;
    text-decoration: none;
}

.footer a:hover {
    color: #999ba3;
    text-decoration: underline;
}

.footer .copyright {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.footer .aboutus {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.footer .clearfix {
    width: 400px;
}

.footer .service {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.footer .qr_code {
    width: 70px;
    height: 70px;
}

.footer .min_line {
    line-height: 14px;
}

.footer .service_tel {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.suspension {
    width: 48px;
    height: 48px;
    /*background: #a5b9c2;*/
    background: #E3E3E3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.side_contact {
    z-index: 10;
}

.item_wx {
    right: 10px;
    bottom: 40px;
    z-index: 10;
}

.item_phone {
    right: 68px;
    bottom: 40px;
    z-index: 10;
}

.suspension img {
    width: 36px;
    height: 36px;
}

.item_phone_detail {
    position: fixed;
    right: 10px;
    bottom: 95px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 84px;
    width: 140px;
    color: #555555;
    font-size: 12px;
    padding: 10px 0;
    box-shadow: 0 0 5px 0px rgba(200, 200, 200, 100);
    z-index: 10;
}

.item_phone_detail div {
    text-align: center;
}

.item_wx_detail div {
    text-align: center;
}

.service_text {
    font-size: 16px;
    font-weight: 600;
}

.item_wx_detail {
    position: fixed;
    right: 10px;
    bottom: 95px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 144px;
    width: 120px;
    color: #555555;
    font-size: 12px;
    padding: 10px 0;
    box-shadow: 0 0 5px 0px rgba(200, 200, 200, 100);
    z-index: 10;
}